[VERSION]
major =1
minor =0

[GENERAL]
atc_type ="TT:ATCCOM.ATC_NAME ATR.0.text"
atc_model ="ATR42"
editable = 1
wip_indicator = 2
performance =""
Category = airplane
icao_type_designator = "AT46"
icao_manufacturer = "ATR"
icao_model ="ATR-42-600"
icao_engine_type ="Turboprop/Turboshaft"
icao_engine_count = 2
icao_wtc = "M"
icao_generic = 0

[SERVICES]
FUELTRUCK = 0
BAGGAGE_LOADER = 0
CATERING_TRUCK = 0
BOARDING_RAMP = 0
GROUND_POWER_UNIT = 0
PUSHBACK = 0
SMALL_PUSHBACK = 0
MARSHALLER = 0
JETWAY = 0

[EFFECTS]
effect.0 = fx_exhaust_left#(A:GENERAL ENG COMBUSTION:1, boolean)#FX_ASOBO_M_REACTORHEAT_TBM930
effect.1 = fx_exhaust_right#(A:GENERAL ENG COMBUSTION:2, boolean)#FX_ASOBO_M_REACTORHEAT_TBM930
; ===================== FLTSIM =====================
[FLTSIM.0]
title = "FSLTL_AT46_ZZZZ" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT46" ; e.g. 747-400, 172
ui_variation = "ZZZZ" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "ZZZZ" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.1]
title = "FSLTL_AT46_ATX-Airswift-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Airswift" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT46" ; e.g. 747-400, 172
ui_variation = "Airswift Transport" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "ATX" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "ATX" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.2]
title = "FSLTL_AT46_DRK-Royal Bhutan-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Royal Bhutan" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT46" ; e.g. 747-400, 172
ui_variation = "Druk Air" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "DRK" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "DRK" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.3]
title = "FSLTL_AT46_EFY-Easyfly-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Easyfly" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT46" ; e.g. 747-400, 172
ui_variation = "Easyfly" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "EFY" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "EFY" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.4]
title = "FSLTL_AT46_GUY-Green Bird-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Green Bird" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT46" ; e.g. 747-400, 172
ui_variation = "Air Antilles Express" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "GUY" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "GUY" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.5]
title = "FSLTL_AT46_LLR-Allied-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Allied" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT46" ; e.g. 747-400, 172
ui_variation = "Alliance Air" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "LLR" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "LLR" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.6]
title = "FSLTL_AT46_NTH-North Air-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "North Air" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT46" ; e.g. 747-400, 172
ui_variation = "Hokkaido Air System" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "NTH" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "NTH" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.7]
title = "FSLTL_AT46_OAL-Olympic-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Olympic" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT46" ; e.g. 747-400, 172
ui_variation = "Olympic Air" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "OAL" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "OAL" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.8]
title = "FSLTL_AT46_SPM-Saint-Pierre-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Saint-Pierre" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT46" ; e.g. 747-400, 172
ui_variation = "Air Saint Pierre" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "SPM" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "SPM" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.9]
title = "FSLTL_AT46_VTA-Air Tahiti-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Air Tahiti" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT46" ; e.g. 747-400, 172
ui_variation = "Air Tahiti" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "VTA" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "VTA" ;
panel = "" ; panel folder
sound = "" ; sound folder


