[VERSION]
major =1
minor =0

[GENERAL]
atc_type ="TT:ATCCOM.ATC_NAME ATR.0.text"
atc_model ="ATR42"
editable = 1
wip_indicator = 2
performance =""
Category = airplane
icao_type_designator = "AT46"
icao_manufacturer = "ATR"
icao_model ="ATR-42-600"
icao_engine_type ="Turboprop/Turboshaft"
icao_engine_count = 2
icao_wtc = "M"
icao_generic = 0

[SERVICES]
FUELTRUCK = 0
BAGGAGE_LOADER = 0
CATERING_TRUCK = 0
BOARDING_RAMP = 0
GROUND_POWER_UNIT = 0
PUSHBACK = 0
SMALL_PUSHBACK = 0
MARSHALLER = 0
JETWAY = 0

[EFFECTS]

; ===================== FLTSIM =====================
[FLTSIM.0]
title = "FSLTL_AT46_ZZZZ" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT46" ; e.g. 747-400, 172
ui_variation = "ZZZZ" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "ZZZZ" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.1]
title = "FSLTL_AT46_AHX_Amakusa-Airlines-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Amakusa Air" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT46" ; e.g. 747-400, 172
ui_variation = "Amakusa Airlines" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "AHX" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "AHX" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.2]
title = "FSLTL_AT46_AJB_American-Jet-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Amjet" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT46" ; e.g. 747-400, 172
ui_variation = "American Jet" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "AJB" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "AJB" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.3]
title = "FSLTL_AT46_ATX_AirSWIFT-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "AirSwift" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT46" ; e.g. 747-400, 172
ui_variation = "AirSWIFT" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "ATX" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "ATX" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.4]
title = "FSLTL_AT46_DQA_Maldivian-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Island Aviation" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT46" ; e.g. 747-400, 172
ui_variation = "Maldivian" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "DQA" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "DQA" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.5]
title = "FSLTL_AT46_DRK_Druk-Air-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Royal Bhutan" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT46" ; e.g. 747-400, 172
ui_variation = "Druk Air" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "DRK" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "DRK" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.6]
title = "FSLTL_AT46_EFY_Clic-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Easyfly" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT46" ; e.g. 747-400, 172
ui_variation = "Clic" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "EFY" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "EFY" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.7]
title = "FSLTL_AT46_EVX_ATR-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Green Spirit" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT46" ; e.g. 747-400, 172
ui_variation = "ATR" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "EVX" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "EVX" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.8]
title = "FSLTL_AT46_FJA_Fiji-Link-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Link Fiji" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT46" ; e.g. 747-400, 172
ui_variation = "Fiji Link" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "FJA" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "FJA" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.9]
title = "FSLTL_AT46_GAO_LIAT20-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Soar" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT46" ; e.g. 747-400, 172
ui_variation = "LIAT20" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "GAO" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "GAO" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.10]
title = "FSLTL_AT46_GUY_Air-Antilles-Express-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Green Bird" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT46" ; e.g. 747-400, 172
ui_variation = "Air Antilles Express" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "GUY" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "GUY" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.11]
title = "FSLTL_AT46_KES_Air-Antilles-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Karibees" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT46" ; e.g. 747-400, 172
ui_variation = "Air Antilles" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "KES" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "KES" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.12]
title = "FSLTL_AT46_LLR_Alliance-Air-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Allied" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT46" ; e.g. 747-400, 172
ui_variation = "Alliance Air" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "LLR" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "LLR" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.13]
title = "FSLTL_AT46_NTH_Hokkaido-Air-System-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "North Air" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT46" ; e.g. 747-400, 172
ui_variation = "Hokkaido Air System" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "NTH" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "NTH" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.14]
title = "FSLTL_AT46_OAL_Olympic-Air-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Olympic" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT46" ; e.g. 747-400, 172
ui_variation = "Olympic Air" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "OAL" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "OAL" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.15]
title = "FSLTL_AT46_ORC_Oriental-Air-Bridge-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Oriental Bridge" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT46" ; e.g. 747-400, 172
ui_variation = "Oriental Air Bridge" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "ORC" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "ORC" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.16]
title = "FSLTL_AT46_PRF_Precision-Air-Services-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Precision Air" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT46" ; e.g. 747-400, 172
ui_variation = "Precision Air Services" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "PRF" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "PRF" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.17]
title = "FSLTL_AT46_SPM_Air-Saint-Pierre-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Saint-Pierre" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT46" ; e.g. 747-400, 172
ui_variation = "Air Saint-Pierre" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "SPM" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "SPM" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.18]
title = "FSLTL_AT46_STT_Alpha-Star-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Star Charter" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT46" ; e.g. 747-400, 172
ui_variation = "Alpha Star" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "STT" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "STT" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.19]
title = "FSLTL_AT46_TVV_Travira-Air-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Paramita" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT46" ; e.g. 747-400, 172
ui_variation = "Travira Air" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "TVV" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "TVV" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.20]
title = "FSLTL_AT46_VTA_Air-Tahiti-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Air Tahiti" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT46" ; e.g. 747-400, 172
ui_variation = "Air Tahiti" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "VTA" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "VTA" ;
panel = "" ; panel folder
sound = "" ; sound folder


