desktop.ini
/fsltl-traffic-base-build/
/scripts/node_modules/
/scripts/fbw*

fsltl-traffic-injector/fsltl-trafficinjector.exe
fsltl-traffic-injector/html_ui/icons/toolbar/FSLTL_ICON_TOOLBAR.svg
fsltl-traffic-injector/html_ui/InGamePanels/FSLTLPanel/FSLTLPanel.css
fsltl-traffic-injector/html_ui/InGamePanels/FSLTLPanel/FSLTLPanel.html
fsltl-traffic-injector/html_ui/InGamePanels/FSLTLPanel/FSLTLPanel.js
fsltl-traffic-injector/html_ui/Textures/Menu/toolbar/FSLTL_ICON_TOOLBAR.svg
fsltl-traffic-injector/InGamePanels/fsltl-traffic-toolbar.spb
fsltl-traffic-injector/install.json
fsltl-traffic-injector/layout.json
fsltl-traffic-injector/manifest.json
fsltl-traffic-injector/module.json
fsltl-traffic-injector/README - IMPORTANT.txt
fsltl-traffic-injector/SimConnect.dll
FSLTL_Rules.vmr
