[VERSION]
major = 1
minor = 0

[GENERAL]
atc_type = "TT:ATCCOM.ATC_NAME BOEING.0.text"
atc_model = "TT:ATCCOM.AC_MODEL B788.0.text"
Category = "airplane"
performance = ""
editable = 1
wip_indicator = 2
icao_type_designator = "B788"
icao_manufacturer = "Boeing"
icao_model = "B787-8"
icao_engine_type = "Jet"
icao_engine_count = 2
icao_WTC = "H"
icao_generic = 1

[SERVICES]
FUELTRUCK = 0
BAGGAGE_LOADER = 0
CATERING_TRUCK = 1
BOARDING_RAMP = 0
GROUND_POWER_UNIT = 0
PUSHBACK = 1
SMALL_PUSHBACK = 0
MARSHALLER = 0
JETWAY = 1

[EFFECTS]
effect.0 = FX_EXHAUST_LEFT#(A:GROUND VELOCITY, knots) 25 < (A:GENERAL ENG COMBUSTION:1, boolean) &&#FX_ASOBO_HEAT_BIG
effect.1 = FX_EXHAUST_RIGHT#(A:GROUND VELOCITY, knots) 25 < (A:GENERAL ENG COMBUSTION:2, boolean) &&#FX_ASOBO_HEAT_BIG

;===================== FLTSIM =====================

[FLTSIM.0]
title = "FSLTL_B788_ZZZZ" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "" ; airline name
ui_manufacturer = "BOEING" ; e.g. Boeing, Cessna
ui_type = "BOEING B788" ; e.g. 747-400, 172
ui_variation = "ZZZZ" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "" ; Comma separated and may be as small as one character each
atc_parking_types = "GATE,RAMP"
atc_heavy = 1 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "ZZZZ" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.1]
title = "FSLTL_B788_AUH-Sultan-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Sultan" ; airline name
ui_manufacturer = "BOEING" ; e.g. Boeing, Cessna
ui_type = "BOEING B788" ; e.g. 747-400, 172
ui_variation = "Presidential Flight" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "AUH" ; Comma separated and may be as small as one character each
atc_parking_types = "GATE,RAMP"
atc_heavy = 1 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "AUH" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.2]
title = "FSLTL_B788_BOE-Boeing-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Boeing" ; airline name
ui_manufacturer = "BOEING" ; e.g. Boeing, Cessna
ui_type = "BOEING B788" ; e.g. 747-400, 172
ui_variation = "Boeing Commercial Airplane Group" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "BOE" ; Comma separated and may be as small as one character each
atc_parking_types = "GATE,RAMP"
atc_heavy = 1 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "BOE" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.3]
title = "FSLTL_B788_CXB-Starlux-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Starlux" ; airline name
ui_manufacturer = "BOEING" ; e.g. Boeing, Cessna
ui_type = "BOEING B788" ; e.g. 747-400, 172
ui_variation = "Comlux Aruba" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "CXB" ; Comma separated and may be as small as one character each
atc_parking_types = "GATE,RAMP"
atc_heavy = 1 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "CXB" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.4]
title = "FSLTL_B788_KAL-Korean Air-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Korean Air" ; airline name
ui_manufacturer = "BOEING" ; e.g. Boeing, Cessna
ui_type = "BOEING B788" ; e.g. 747-400, 172
ui_variation = "Korean Air Lines" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "KAL" ; Comma separated and may be as small as one character each
atc_parking_types = "GATE,RAMP"
atc_heavy = 1 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "KAL" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.5]
title = "FSLTL_B788_SMR-Somon Air-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Somon Air" ; airline name
ui_manufacturer = "BOEING" ; e.g. Boeing, Cessna
ui_type = "BOEING B788" ; e.g. 747-400, 172
ui_variation = "Somon Air" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "SMR" ; Comma separated and may be as small as one character each
atc_parking_types = "GATE,RAMP"
atc_heavy = 1 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "SMR" ;
panel = "" ; panel folder
sound = "" ; sound folder


