[VERSION]
major =1
minor =0

[GENERAL]
atc_type ="TT:ATCCOM.ATC_NAME ATR.0.text"
atc_model ="ATR42"
editable = 1
wip_indicator = 2
performance =""
Category = airplane
icao_type_designator = "AT45"
icao_manufacturer = "ATR"
icao_model ="ATR-42-500"
icao_engine_type ="Turboprop/Turboshaft"
icao_engine_count = 2
icao_wtc = "M"
icao_generic = 0

[SERVICES]
FUELTRUCK = 0
BAGGAGE_LOADER = 0
CATERING_TRUCK = 0
BOARDING_RAMP = 0
GROUND_POWER_UNIT = 0
PUSHBACK = 0
SMALL_PUSHBACK = 0
MARSHALLER = 0
JETWAY = 0

[EFFECTS]

; ===================== FLTSIM =====================
[FLTSIM.0]
title = "FSLTL_AT45_ZZZZ" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT45" ; e.g. 747-400, 172
ui_variation = "ZZZZ" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "ZZZZ" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.1]
title = "FSLTL_AT45_ABS_Afrijet-Business-Services-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Athabaska" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT45" ; e.g. 747-400, 172
ui_variation = "Afrijet Business Services" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "ABS" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "ABS" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.2]
title = "FSLTL_AT45_AZW_Air-Zimbabwe-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Air Zimbabwe" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT45" ; e.g. 747-400, 172
ui_variation = "Air Zimbabwe" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "AZW" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "AZW" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.3]
title = "FSLTL_AT45_BVT_Berjaya-Air-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Berjaya" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT45" ; e.g. 747-400, 172
ui_variation = "Berjaya Air" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "BVT" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "BVT" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.4]
title = "FSLTL_AT45_CEL_Ceiba-Intercontinental-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Ceiba" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT45" ; e.g. 747-400, 172
ui_variation = "Ceiba Intercontinental" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "CEL" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "CEL" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.5]
title = "FSLTL_AT45_CXE_Caicos-Express-Airways-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Caicos" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT45" ; e.g. 747-400, 172
ui_variation = "Caicos Express Airways" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "CXE" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "CXE" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.6]
title = "FSLTL_AT45_DNU_DAT-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Danu" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT45" ; e.g. 747-400, 172
ui_variation = "DAT" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "DNU" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "DNU" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.7]
title = "FSLTL_AT45_GCW_Hevilift-PNG-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Hevilift" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT45" ; e.g. 747-400, 172
ui_variation = "Hevilift PNG" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "GCW" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "GCW" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.8]
title = "FSLTL_AT45_GTV_Aerogaviota-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Gaviota" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT45" ; e.g. 747-400, 172
ui_variation = "Aerogaviota" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "GTV" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "GTV" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.9]
title = "FSLTL_AT45_IDA_Indonesia-Air-Transport-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Intra" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT45" ; e.g. 747-400, 172
ui_variation = "Indonesia Air Transport" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "IDA" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "IDA" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.10]
title = "FSLTL_AT45_IMX_Zimex-Aviation-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Zimex" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT45" ; e.g. 747-400, 172
ui_variation = "Zimex Aviation" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "IMX" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "IMX" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.11]
title = "FSLTL_AT45_LXX_Libyan-Express-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Libyan Express" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT45" ; e.g. 747-400, 172
ui_variation = "Libyan Express" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "LXX" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "LXX" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.12]
title = "FSLTL_AT45_MML_Hunnu-Air-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Trans Mongolia" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT45" ; e.g. 747-400, 172
ui_variation = "Hunnu Air" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "MML" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "MML" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.13]
title = "FSLTL_AT45_NGR_Nigerian-Air-Force-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Nigerian Airforce" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT45" ; e.g. 747-400, 172
ui_variation = "Nigerian Air Force" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "NGR" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "NGR" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.14]
title = "FSLTL_AT45_NYX_NyxAir-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Nyx Air" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT45" ; e.g. 747-400, 172
ui_variation = "NyxAir" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "NYX" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "NYX" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.15]
title = "FSLTL_AT45_PAS_Pelita-Air-Service-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Pelita" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT45" ; e.g. 747-400, 172
ui_variation = "Pelita Air Service" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "PAS" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "PAS" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.16]
title = "FSLTL_AT45_PIA_Pakistan-International-Airlines-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Pakistan" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT45" ; e.g. 747-400, 172
ui_variation = "Pakistan International Airlines" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "PIA" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "PIA" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.17]
title = "FSLTL_AT45_PRF_Precision-Air-Services-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Precision Air" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT45" ; e.g. 747-400, 172
ui_variation = "Precision Air Services" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "PRF" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "PRF" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.18]
title = "FSLTL_AT45_PTB_Voepass-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Passaredo" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT45" ; e.g. 747-400, 172
ui_variation = "Voepass" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "PTB" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "PTB" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.19]
title = "FSLTL_AT45_RNG_Renegade-Air-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Renegade" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT45" ; e.g. 747-400, 172
ui_variation = "Renegade Air" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "RNG" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "RNG" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.20]
title = "FSLTL_AT45_SEH_Sky-Express-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Air Crete" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT45" ; e.g. 747-400, 172
ui_variation = "Sky Express" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "SEH" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "SEH" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.21]
title = "FSLTL_AT45_SET_Solenta-Aviation-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Solenta" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT45" ; e.g. 747-400, 172
ui_variation = "Solenta Aviation" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "SET" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "SET" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.22]
title = "FSLTL_AT45_TGN_Trigana-Air-Service-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Trigana" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT45" ; e.g. 747-400, 172
ui_variation = "Trigana Air Service" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "TGN" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "TGN" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.23]
title = "FSLTL_AT45_UNO_United-Nations-Organization-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "United Nations" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT45" ; e.g. 747-400, 172
ui_variation = "United Nations Organization" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "UNO" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "UNO" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.24]
title = "FSLTL_AT45_WEW_Rise-Air-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Rise Air" ; airline name
ui_manufacturer = "ATR" ; e.g. Boeing, Cessna
ui_type = "ATR AT45" ; e.g. 747-400, 172
ui_variation = "Rise Air" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "WEW" ; Comma separated and may be as small as one character each
atc_parking_types = "RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "WEW" ;
panel = "" ; panel folder
sound = "" ; sound folder


