
[VERSION]
major = 1 ; 
minor = 0 ; 

[GENERAL]
atc_type = "TT:ATCCOM.ATC_NAME AIRBUS.0.text"
atc_model = "TT:ATCCOM.AC_MODEL_A300.0.text"
Category = "airplane"
performance = ""
editable = 1
wip_indicator = 2
icao_type_designator = "A306"
icao_manufacturer = "AIRBUS"
icao_model = "A-300-600"
icao_engine_type = "Jet"
icao_engine_count = 2
icao_WTC = "M"
icao_generic = 0

[SERVICES]
FUELTRUCK = 1
BAGGAGE_LOADER = 1
CATERING_TRUCK = 0
BOARDING_RAMP = 1
GROUND_POWER_UNIT = 0
PUSHBACK = 1
SMALL_PUSHBACK = 0
MARSHALLER = 0
JETWAY = 1

[EFFECTS]

; ===================== FLTSIM =====================

[FLTSIM.0]
title = "FSLTL_A306_ZZZZ" ; Variation name
model = "GE" ; model folder
texture = "GE"; texture folder
atc_airline = "" ; airline name
ui_manufacturer = "AIRBUS" ; e.g. Boeing, Cessna
ui_type = "AIRBUS A306" ; e.g. 747-400, 172
ui_variation = "ZZZZ" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "" ; Comma separated and may be as small as one character each
atc_parking_types = "GATE,RAMP"
atc_heavy = 1 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "ZZZZ" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.1]
title = "FSLTL_A306_IRB_Iran-Airtour-STUB" ; Variation name
model = "GE" ; model folder
texture = "GE"; texture folder
atc_airline = "Airtour" ; airline name
ui_manufacturer = "AIRBUS" ; e.g. Boeing, Cessna
ui_type = "AIRBUS A306" ; e.g. 747-400, 172
ui_variation = "Iran Airtour" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "IRB" ; Comma separated and may be as small as one character each
atc_parking_types = "GATE,RAMP"
atc_heavy = 1 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "IRB" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.2]
title = "FSLTL_A306_IRM_Mahan-Air-STUB" ; Variation name
model = "GE" ; model folder
texture = "GE"; texture folder
atc_airline = "Mahan Air" ; airline name
ui_manufacturer = "AIRBUS" ; e.g. Boeing, Cessna
ui_type = "AIRBUS A306" ; e.g. 747-400, 172
ui_variation = "Mahan Air" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "IRM" ; Comma separated and may be as small as one character each
atc_parking_types = "GATE,RAMP"
atc_heavy = 1 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "IRM" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.3]
title = "FSLTL_A306_MRJ_Meraj-Airlines-STUB" ; Variation name
model = "GE" ; model folder
texture = "GE"; texture folder
atc_airline = "Meraj" ; airline name
ui_manufacturer = "AIRBUS" ; e.g. Boeing, Cessna
ui_type = "AIRBUS A306" ; e.g. 747-400, 172
ui_variation = "Meraj Airlines" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "MRJ" ; Comma separated and may be as small as one character each
atc_parking_types = "GATE,RAMP"
atc_heavy = 1 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "MRJ" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.4]
title = "FSLTL_A306_QSM_Qeshm-Airlines-STUB" ; Variation name
model = "GE" ; model folder
texture = "GE"; texture folder
atc_airline = "Qeshm Air" ; airline name
ui_manufacturer = "AIRBUS" ; e.g. Boeing, Cessna
ui_type = "AIRBUS A306" ; e.g. 747-400, 172
ui_variation = "Qeshm Airlines" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "QSM" ; Comma separated and may be as small as one character each
atc_parking_types = "GATE,RAMP"
atc_heavy = 1 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "QSM" ;
panel = "" ; panel folder
sound = "" ; sound folder


