
[VERSION]

major = 1 ; 
minor = 0 ; 

[PITOT_STATIC]

vertical_speed_time_constant = 1 ; Increasing this value will cause a more instantaneous reaction in the VSI
pitot_heat = 1.0 ; Scalar on heat effectiveness, 0 = not available

[LIGHTS]

; Types: 1=beacon, 2=strobe, 3=navigation, 4=cockpit, 5=landing, 6=taxi, 8=wing, 9=logo
; MODERN
;Beacon Lights
lightdef.11 = Type:1#Index:0#LocalPosition:0,0,1#Node:beacon_top#LocalRotation:-105,0,0#EffectFile:LIGHT_FSLTL_B747_Beacon#PotentiometerIndex:1#EmMesh:LIGHT_ASOBO_BeaconTop ; 
lightdef.12 = Type:1#Index:0#LocalPosition:0,0,0#Node:beacon_belly#LocalRotation:75,0,0#EffectFile:LIGHT_FSLTL_B747_Beacon#PotentiometerIndex:1#EmMesh:LIGHT_ASOBO_BeaconBottom ; 

;Strobe Lights
lightdef.21 = Type:2#Index:0#LocalPosition:0,0,0#Node:strobe_l#LocalRotation:-10,0,45#EffectFile:LIGHT_FSLTL_A320_StrobeSimple#PotentiometerIndex:1#EmMesh:LIGHT_ASOBO_StrobeSimple ; 
lightdef.22 = Type:2#Index:0#LocalPosition:0,0,0#Node:strobe_r#LocalRotation:-10,0,-45#EffectFile:LIGHT_FSLTL_A320_StrobeSimple#PotentiometerIndex:1#EmMesh:LIGHT_ASOBO_StrobeSimple ; 
lightdef.23 = Type:2#Index:0#LocalPosition:0,0,0#Node:strobe_rear_l#LocalRotation:-10,0,180#EffectFile:LIGHT_FSLTL_A320_StrobeSimple#PotentiometerIndex:1#EmMesh:LIGHT_ASOBO_StrobeSimple ; 
lightdef.24 = Type:2#Index:0#LocalPosition:0,0,0#Node:strobe_rear_r#LocalRotation:-10,0,180#EffectFile:LIGHT_FSLTL_A320_StrobeSimple#PotentiometerIndex:1#EmMesh:LIGHT_ASOBO_StrobeSimple ; 

;Nav Lights
lightdef.31 = Type:3#Index:0#LocalPosition:0,0,0#Node:nav_red#LocalRotation:-10,0,0#EffectFile:LIGHT_FSLTL_A320_NavigationRed#PotentiometerIndex:1#EmMesh:LIGHT_ASOBO_NavigationRed ; 
lightdef.32 = Type:3#Index:0#LocalPosition:0,0,0#Node:nav_green#LocalRotation:-10,0,0#EffectFile:LIGHT_FSLTL_A320_NavigationGreen#PotentiometerIndex:1#EmMesh:LIGHT_ASOBO_NavigationGreen ; 
lightdef.33 = Type:3#Index:0#LocalPosition:0,0,0#Node:nav_rear_l#LocalRotation:-10,0,180#EffectFile:LIGHT_FSLTL_A320_NavigationWhite#PotentiometerIndex:1#EmMesh:LIGHT_ASOBO_NavigationWhite ; 
lightdef.34 = Type:3#Index:0#LocalPosition:0,0,0#Node:nav_rear_r#LocalRotation:-10,0,180#EffectFile:LIGHT_FSLTL_A320_NavigationWhite#PotentiometerIndex:1#EmMesh:LIGHT_ASOBO_NavigationWhite ; 

;Landing Lights
lightdef.51 = Type:5#Index:0#LocalPosition:0,0,0#Node:landing_l#LocalRotation:2,0,5#EffectFile:LIGHT_FSLTL_B747_LandingHigh#PotentiometerIndex:1#EmMesh:LIGHT_ASOBO_LandingLeft ; 
lightdef.52 = Type:5#Index:0#LocalPosition:0,0,0#Node:landing_r#LocalRotation:2,0,-5#EffectFile:LIGHT_FSLTL_B747_LandingHigh#PotentiometerIndex:1#EmMesh:LIGHT_ASOBO_LandingRight ; 
lightdef.53 = Type:5#Index:0#LocalPosition:0,0,0#Node:taxi_l_p0#LocalRotation:0,0,0#EffectFile:LIGHT_FSLTL_B747_LandingHigh#PotentiometerIndex:1#EmMesh:LIGHT_ASOBO_LandingLeft ; 
lightdef.54 = Type:5#Index:0#LocalPosition:0,0,0#Node:taxi_r_p0#LocalRotation:0,0,0#EffectFile:LIGHT_FSLTL_B747_LandingHigh#PotentiometerIndex:1#EmMesh:LIGHT_ASOBO_LandingRight ; 
lightdef.55 = Type:5#Index:0#LocalPosition:0,0,0#Node:taxi_l_p2#LocalRotation:0,0,0#EffectFile:LIGHT_FSLTL_B747_LandingHigh#PotentiometerIndex:1#EmMesh:LIGHT_ASOBO_LandingLeft ; 
lightdef.56 = Type:5#Index:0#LocalPosition:0,0,0#Node:taxi_r_p2#LocalRotation:0,0,0#EffectFile:LIGHT_FSLTL_B747_LandingHigh#PotentiometerIndex:1#EmMesh:LIGHT_ASOBO_LandingRight ; 

;Taxi Lights
lightdef.61 = Type:6#Index:0#LocalPosition:0,0,0#Node:taxi_l_p0#LocalRotation:2,0,0#EffectFile:LIGHT_FSLTL_MD11_TaxiNarrow#PotentiometerIndex:1#EmMesh:LIGHT_ASOBO_Taxi ; 
lightdef.62 = Type:6#Index:0#LocalPosition:0,0,0#Node:taxi_r_p0#LocalRotation:2,0,0#EffectFile:LIGHT_FSLTL_MD11_TaxiNarrow#PotentiometerIndex:1#EmMesh:LIGHT_ASOBO_Taxi ; 
lightdef.63 = Type:6#Index:0#LocalPosition:0,0,0#Node:taxi_l_p2#LocalRotation:2,0,0#EffectFile:LIGHT_FSLTL_MD11_TaxiNarrow#PotentiometerIndex:1#EmMesh:LIGHT_ASOBO_Taxi ; 
lightdef.64 = Type:6#Index:0#LocalPosition:0,0,0#Node:taxi_r_p2#LocalRotation:2,0,0#EffectFile:LIGHT_FSLTL_MD11_TaxiNarrow#PotentiometerIndex:1#EmMesh:LIGHT_ASOBO_Taxi ; 

; Runway Turnoff
lightdef.81 = Type:8#Index:0#LocalPosition:0,0,0#Node:rwyturnoff_l#LocalRotation:0,0,30#EffectFile:LIGHT_FSLTL_B747_RwyTurnoff#PotentiometerIndex:1#EmMesh:LIGHT_ASOBO_RunwayTurnOffLeft
lightdef.82 = Type:8#Index:0#LocalPosition:0,0,0#Node:rwyturnoff_r#LocalRotation:0,0,-30#EffectFile:LIGHT_FSLTL_B747_RwyTurnoff#PotentiometerIndex:1#EmMesh:LIGHT_ASOBO_RunwayTurnOffRight

; Logo Lights
lightdef.91 = Type:9#Index:0#LocalPosition:0,0,0#Node:logo_left_1#LocalRotation:-50,0,-60#EffectFile:LIGHT_FSLTL_B747_Logo#PotentiometerIndex:1#EmMesh:LIGHT_ASOBO_LogoLeft ; 
lightdef.92 = Type:9#Index:0#LocalPosition:0,0,0#Node:logo_right_1#LocalRotation:-50,0,60#EffectFile:LIGHT_FSLTL_B747_Logo#PotentiometerIndex:1#EmMesh:LIGHT_ASOBO_LogoRight ; 
lightdef.93 = Type:9#Index:0#LocalPosition:0,0,0#Node:logo_left_2#LocalRotation:-75,0,-75#EffectFile:LIGHT_FSLTL_B747_Logo#PotentiometerIndex:1#EmMesh:LIGHT_ASOBO_LogoLeft ; 
lightdef.94 = Type:9#Index:0#LocalPosition:0,0,0#Node:logo_right_2#LocalRotation:-75,0,75#EffectFile:LIGHT_FSLTL_B747_Logo#PotentiometerIndex:1#EmMesh:LIGHT_ASOBO_LogoRight ; 

[ELECTRICAL]

; LEGACY
max_battery_voltage = 24 ; ###
generator_alternator_voltage = 28 ; ###
max_generator_alternator_amps = 60 ; ###
engine_generator_map = 1,1,0,0 ; ###
electric_always_available = 1 ; ###
flap_motor = 0, 5, 17 ; ###
gear_motor = 0, 5, 17 ; ###
autopilot = 0, 5, 17 ; ###
avionics_bus = 0, 5, 17 ; ###
avionics = 1, 5, 17 ; ###
pitot_heat = 0, 2, 17 ; ###
additional_system = 0, 2, 17 ; ###
marker_beacon = 1, 2, 17 ; ###
gear_warning = 0, 2, 17 ; ###
fuel_pump = 0, 5, 17 ; ###
starter1 = 0, 20, 17 ; ###
light_nav = 0, 5, 17 ; ###
light_beacon = 0, 5, 17 ; ###
light_landing = 0, 5, 17 ; ###
light_taxi = 0, 5, 17 ; ###
light_strobe = 0, 5, 17 ; ###
light_panel = 0, 5, 17 ; ###
light_logo = 0, 5, 17 ; ###

[GEAR_WARNING_SYSTEM]

gear_warning_available = 1 ; Normal
pct_throttle_limit = 0.1 ; Percent throttle that activates warning
flap_limit_idle = 5.0 ; Flap angle that activates warning at idle
flap_limit_power = 25.5 ; Flap angle that activates warning at above idle

[BRAKES]

; LEGACY
parking_brake = 1 ; Parking brake available
toe_brakes_scale = 1.0 ; Brake scalar
auto_brakes = 4 ; This value is the number of "positive" settings, not including OFF.  '0' means NO AutoBrake
; MODERN
;-differential_braking_scale = 0 ; Delta on the amount of brake when the rudder pedals deflected
;-hydraulic_system_scalar = 1 ; On brakes dependant on the hydraulic system, ratio hyd system to max brake hyd pressure

[HYDRAULIC_SYSTEM]

normal_pressure = 3000.0 ; PSI
electric_pumps = 1 ; no electric pumps
engine_map = 1,1,0,0 ; pumps on Eng1,2

[RADIOS]

; Radio Type = availiable, standby frequency, has glide slope
audio.1 = 1 ; 
com.1 = 1, 1 ; 
com.2 = 1, 1 ; 
nav.1 = 1, 1, 1 ; 
nav.2 = 1, 1, 0 ; 
adf.1 = 1 ; 
transponder.1 = 1 ; 
marker.1 = 1 ; 

[AUTOPILOT]

; LEGACY
autopilot_available = 1 ; 
flight_director_available = 1 ; 
default_vertical_speed = 1800 ; 
autothrottle_available = 1 ; 
autothrottle_arming_required = 1 ; 
autothrottle_max_rpm = 90 ; 
autothrottle_takeoff_ga = 1 ; 
pitch_takeoff_ga = 8 ; 
max_pitch = 10.0 ; 
max_pitch_acceleration = 1.0 ; 
max_pitch_velocity_lo_alt = 2.0 ; 
max_pitch_velocity_hi_alt = 1.5 ; 
max_pitch_velocity_lo_alt_breakpoint = 20000.0 ; 
max_pitch_velocity_hi_alt_breakpoint = 28000.0 ; 
max_bank = 33.0 ; 
max_bank_acceleration = 1.8 ; 
max_bank_velocity = 3.00 ; 
max_throttle_rate = 0.10 ; 
nav_proportional_control = 12.00 ; ###
nav_integrator_control = 0.25 ; ###
nav_derivative_control = 0.00 ; ###
nav_integrator_boundary = 2.50 ; ###
nav_derivative_boundary = 0.00 ; ###
gs_proportional_control = 25.0 ; ###
gs_integrator_control = 0.53 ; ###
gs_derivative_control = 0.00 ; ###
gs_integrator_boundary = 0.70 ; ###
gs_derivative_boundary = 0.00 ; ###
yaw_damper_gain = 1.0 ; 
yaw_slip_control_gain = 0.000000 ; ###
yaw_control_uses_trim = 0.000000 ; ###
; MODERN
;-default_pitch_mode = 3 ; 
;-default_bank_mode = 1 ; 
;-use_no_default_bank = 1 ; 
;-use_no_default_pitch = 1 ; 

[STALL_WARNING]

type = 2 ; Hydraulic
stick_shaker = 1 ; 

[VACUUM_SYSTEM]

max_pressure = 5.15 ; 
vacuum_type = 2 ; 
electric_backup_pressure = 0 ; 
engine_map = 1,0,0,0 ; pumps on Eng1,2

[PNEUMATIC_SYSTEM]

; LEGACY
max_pressure = 18.000000 ; 
bleed_air_scalar = 1.000000 ; 
; MODERN
;-apu_max_pressure = 18 ; 

[DEICE_SYSTEM]

structural_deice_type = 0 ; 0 = None, 1 = Heated Leading Edge, 2 = Bleed Air Boots, 3 = Eng Pump Boots
