;- **Lights calibrated to blender model**

[VERSION]

major = 1 ; 
minor = 0 ; 

[PITOT_STATIC]

vertical_speed_time_constant = 1 ; Increasing this value will cause a more instantaneous reaction in the VSI
pitot_heat = 1.000000 ; Scalar on heat effectiveness, 0 = not available

[LIGHTS]

lightdef.0=Type:3#Index:1#LocalPosition:-22.090144, -93.48656, 5.418888#LocalRotation:0.000000,0.000000,0.000000#EffectFile:LIGHT_FSLTL_A320_NavigationGreen#PotentiometerIndex:1#EmMesh:LIGHT_NAVIGATION_GREEN
lightdef.1=Type:3#Index:2#LocalPosition:-22.090144, 93.48656, 5.418888#LocalRotation:0.000000,0.000000,0.000000#EffectFile:LIGHT_FSLTL_A320_NavigationRed#PotentiometerIndex:1#EmMesh:LIGHT_Navigation_red
lightdef.2=Type:2#Index:0#LocalPosition:-22.726136, -93.86704, 5.332296#LocalRotation:0.000000,0.000000,90.000000#EffectFile:LIGHT_FSLTL_A320_StrobeDouble#PotentiometerIndex:1#EmMesh:LIGHT_Strobe_Left
lightdef.3=Type:2#Index:0#LocalPosition:-22.726136, 93.86704, 5.332296#LocalRotation:0.000000,0.000000,-90.000000#EffectFile:LIGHT_FSLTL_A320_StrobeDouble#PotentiometerIndex:1#EmMesh:LIGHT_Strobe_Right
lightdef.4=Type:1#Index:1#LocalPosition:7.29,0,9.84#LocalRotation:0.000000,0.000000,0.000000#EffectFile:LIGHT_FSLTL_A320_BeaconTop#PotentiometerIndex:1#EmMesh:BeaconTop
lightdef.5=Type:1#Index:2#LocalPosition:25.29,0,-10.42#LocalRotation:0.000000,0.000000,0.000000#EffectFile:LIGHT_FSLTL_A320_BeaconBelly#PotentiometerIndex:1#EmMesh:BeaconBelly
lightdef.6=Type:3#Index:3#LocalPosition:-94.3492, 0, 6.0#LocalRotation:0.000000,0.000000,180.000000#EffectFile:LIGHT_FSLTL_A320_NavigationWhite#PotentiometerIndex:1#EmMesh:LIGHT_Navigation_White
lightdef.7=Type:2#Index:0#LocalPosition:-94.3492, 0, 6.072592#LocalRotation:0.000000,0.000000,180.000000#EffectFile:LIGHT_FSLTL_A320_StrobeSimple#PotentiometerIndex:1#EmMesh:LIGHT_STROBE_REAR
lightdef.8=Type:5#Index:2#LocalPosition:29.9136, -10.9224, -3.9688#LocalRotation:0.000000,0.000000,20.000000#EffectFile:LIGHT_FSLTL_A320_LandingLarge#PotentiometerIndex:1#EmMesh:LIGHT_LANDING_MAIN_LEFT
lightdef.9=Type:5#Index:3#LocalPosition:29.9136, 10.9224, -3.9688#LocalRotation:0.000000,0.000000,-20.000000#EffectFile:LIGHT_FSLTL_A320_LandingLarge#PotentiometerIndex:1#EmMesh:LIGHT_LANDING_MAIN_RIGHT
lightdef.10=Type:6#Index:2#LocalPosition:83.18736, -0.6490792, -10.95028#LocalRotation:10,0,45#EffectFile:LIGHT_FSLTL_A320_TaxiLarge#PotentiometerIndex:1#EmMesh:LIGHT_Turnoff_LEFT
lightdef.11=Type:6#Index:3#LocalPosition:83.18736, 0.6490792, -10.95028#LocalRotation:10,0,-45#EffectFile:LIGHT_FSLTL_A320_TaxiLarge#PotentiometerIndex:1#EmMesh:LIGHT_Turnoff_RIGHT
lightdef.12=Type:6#Index:1#LocalPosition:72.60936, -0.0, -10.932896#LocalRotation:18.000000,0.000000,0.000000#EffectFile:LIGHT_FSLTL_A320_TaxiLarge#PotentiometerIndex:1#EmMesh:LIGHT_Taxi
lightdef.13=Type:6#Index:1#LocalPosition:72.60936, 0.6544584, -10.932896#LocalRotation:18.000000,0.000000,0.000000#EffectFile:LIGHT_FSLTL_A320_TaxiLarge#PotentiometerIndex:1#EmMesh:LIGHT_Taxi
lightdef.14 = Type:9#Index:1#LocalPosition:-87.43168, -17.061576, 6.98148#LocalRotation:-70,10,-80#EffectFile:LIGHT_FSLTL_A320_LogoLight#PotentiometerIndex:1#EmMesh:LIGHT_ASOBO_LogoLeft  
lightdef.15 = Type:9#Index:2#LocalPosition:-87.43168, 17.061576, 6.98148#LocalRotation:-70,-10,80#EffectFile:LIGHT_FSLTL_A320_LogoLight#PotentiometerIndex:1#EmMesh:LIGHT_ASOBO_LogoRight 
lightdef.16 = Type:5#Index:1#LocalPosition:72.64216, -1.0760696, -8.738904#LocalRotation:5,0,0#EffectFile:LIGHT_FSLTL_A320_LandingLarge#PotentiometerIndex:1#EmMesh:LIGHT_Takeoff
lightdef.17 = Type:5#Index:1#LocalPosition:72.64216, 0.0, -8.738904#LocalRotation:5,0,0#EffectFile:LIGHT_FSLTL_A320_TakeOff#PotentiometerIndex:1#EmMesh:LIGHT_Takeoff
lightdef.18=Type:1#Index:1#LocalPosition:7.29,0,9.84#LocalRotation:0.000000,0.000000,0.000000#EffectFile:LIGHT_FSLTL_A320_BeaconTopdown#PotentiometerIndex:1#EmMesh:BeaconTop

[ELECTRICAL]

; LEGACY
max_battery_voltage = 24 ; ###
generator_alternator_voltage = 28 ; ###
max_generator_alternator_amps = 60 ; ###
engine_generator_map = 1,1,0,0 ; ###
electric_always_available = 1 ; ###
flap_motor = 0, 5, 17 ; ###
gear_motor = 0, 5, 17 ; ###
autopilot = 0, 5, 17 ; ###
avionics_bus = 0, 5, 17 ; ###
avionics = 1, 5, 17 ; ###
pitot_heat = 0, 2, 17 ; ###
additional_system = 0, 2, 17 ; ###
marker_beacon = 1, 2, 17 ; ###
gear_warning = 0, 2, 17 ; ###
fuel_pump = 0, 5, 17 ; ###
starter1 = 0, 20, 17 ; ###
light_nav = 0, 5, 17 ; ###
light_beacon = 0, 5, 17 ; ###
light_landing = 0, 5, 17 ; ###
light_taxi = 0, 5, 17 ; ###
light_strobe = 0, 5, 17 ; ###
light_panel = 0, 5, 17 ; ###

[GEAR_WARNING_SYSTEM]

gear_warning_available = 1 ; Normal
pct_throttle_limit = 0.1 ; Percent throttle that activates warning
flap_limit_idle = 5.0 ; Flap angle that activates warning at idle
flap_limit_power = 25.5 ; Flap angle that activates warning at above idle

[BRAKES]

; LEGACY
parking_brake = 1 ; Parking brake available
toe_brakes_scale = 1.0 ; Brake scalar
auto_brakes = 0 ; This value is the number of "positive" settings, not including OFF.  '0' means NO AutoBrake
; MODERN
;-differential_braking_scale = 0 ; Delta on the amount of brake when the rudder pedals deflected
;-hydraulic_system_scalar = 1 ; On brakes dependant on the hydraulic system, ratio hyd system to max brake hyd pressure

[HYDRAULIC_SYSTEM]

normal_pressure = 3000.0 ; PSI
electric_pumps = 0 ; no electric pumps
engine_map = 1,1,0,0 ; pumps on Eng1,2

[RADIOS]

; Radio Type = availiable, standby frequency, has glide slope
audio.1 = 1 ; 
com.1 = 1, 1 ; 
com.2 = 1, 1 ; 
nav.1 = 1, 1, 1 ; 
nav.2 = 1, 1, 0 ; 
adf.1 = 1 ; 
transponder.1 = 1 ; 
marker.1 = 1 ; 

[AUTOPILOT]

; LEGACY
autopilot_available = 1 ; 
flight_director_available = 1 ; 
default_vertical_speed = 1800 ; 
autothrottle_available = 1 ; 
autothrottle_arming_required = 1 ; 
autothrottle_max_rpm = 90 ; 
autothrottle_takeoff_ga = 1 ; 
pitch_takeoff_ga = 8 ; 
max_pitch = 10.0 ; 
max_pitch_acceleration = 1.0 ; 
max_pitch_velocity_lo_alt = 2.0 ; 
max_pitch_velocity_hi_alt = 1.5 ; 
max_pitch_velocity_lo_alt_breakpoint = 20000.0 ; 
max_pitch_velocity_hi_alt_breakpoint = 28000.0 ; 
max_bank = 33.0 ; 
max_bank_acceleration = 1.8 ; 
max_bank_velocity = 3.00 ; 
max_throttle_rate = 0.10 ; 
nav_proportional_control = 12.00 ; ###
nav_integrator_control = 0.25 ; ###
nav_derivative_control = 0.00 ; ###
nav_integrator_boundary = 2.50 ; ###
nav_derivative_boundary = 0.00 ; ###
gs_proportional_control = 25.0 ; ###
gs_integrator_control = 0.53 ; ###
gs_derivative_control = 0.00 ; ###
gs_integrator_boundary = 0.70 ; ###
gs_derivative_boundary = 0.00 ; ###
yaw_damper_gain = 1.0 ; 
yaw_slip_control_gain = 0.000000 ; ###
yaw_control_uses_trim = 0.000000 ; ###
; MODERN
;-default_pitch_mode = 3 ; 
;-default_bank_mode = 1 ; 
;-use_no_default_bank = 1 ; 
;-use_no_default_pitch = 1 ; 

[STALL_WARNING]

type = 2 ; Hydraulic
stick_shaker = 1 ; 

[VACUUM_SYSTEM]

max_pressure = 5.150000 ; 
vacuum_type = 2 ; 
electric_backup_pressure = 0.000000 ; 
engine_map = 0,0,0,0 ; pumps on Eng1,2

[PNEUMATIC_SYSTEM]

; LEGACY
max_pressure = 18.000000 ; 
bleed_air_scalar = 1.000000 ; 
; MODERN
;-apu_max_pressure = 18 ; 

[DEICE_SYSTEM]

structural_deice_type = 0 ; 0 = None, 1 = Heated Leading Edge, 2 = Bleed Air Boots, 3 = Eng Pump Boots
