[VERSION]
major = 1
minor = 0

[GENERAL]
atc_type = "TT:ATCCOM.ATC_NAME AIRBUS.0.text"
atc_model = "TT:ATCCOM.AC_MODEL A388.0.text"
Category = "airplane"
performance = ""
editable = 1
wip_indicator = 2
icao_type_designator = "A388"
icao_manufacturer = "A388"
icao_model = "A-380-800"
icao_engine_type = "Jet"
icao_engine_count = 4
icao_WTC = "J"
icao_generic = 0

[SERVICES]
FUELTRUCK = 1
BAGGAGE_LOADER = 0
CATERING_TRUCK = 1
BOARDING_RAMP = 1
GROUND_POWER_UNIT = 0
PUSHBACK = 1
SMALL_PUSHBACK = 0
MARSHALLER = 0
JETWAY = 1

[EFFECTS]
wake = fx_wake
water = fx_spray
effect.0 = FX_EXHAUST_LEFT_OUT#(A:GENERAL ENG COMBUSTION:1, boolean)#FX_ASOBO_HEAT_BIG
effect.1 = FX_EXHAUST_LEFT_IN#(A:GENERAL ENG COMBUSTION:2, boolean)#FX_ASOBO_HEAT_BIG
effect.2 = FX_EXHAUST_RIGHT_IN#(A:GENERAL ENG COMBUSTION:3, boolean)#FX_ASOBO_HEAT_BIG
effect.3 = FX_EXHAUST_RIGHT_OUT#(A:GENERAL ENG COMBUSTION:4, boolean)#FX_ASOBO_HEAT_BIG

; ===================== FLTSIM =====================

[FLTSIM.0]
; LEGACY
title = FSLTL_TFS_A388_RR ; Variation name
model = "RR" ; model folder
texture = "RR" ; texture folder
atc_airline =  ; airline name
atc_id =  ; tail number
atc_heavy = 1 ; heavy?
ui_manufacturer = The Fruit Stand ; e.g. Boeing, Cessna
ui_type = Airbus A380-800 ; e.g. 747-400, 172
ui_variation = VIP ; e.g. World Air, IFR Panel
description = The Fruit Stand Airbus A380-800 ; Variation description.
atc_parking_types = "GATE,RAMP" ; "ANY" / "RAMP" / "CARGO" / "MIL_CARGO" / "MIL_COMBAT" / "GATE" / "DOCK"
atc_parking_codes = ZZZZ ; Comma separated and may be as small as one character each
; MODERN
panel = "" ; panel folder
sound = "" ; sound folder
;-kb_checklists = "" ; Procedures/Checklist sibling file name
;-kb_reference = "" ; Reference information sibling file name
;-wip_indicator = 0 ; know if the variation is good to go or still WIP : -1=Disabled, 0=Rough, 1=1st Pass, 2=Finished
;-ui_typerole = "Single Engine Prop" ; e.g. Single Engine Prop, Twin Engine Prop, Rotorcraft, etc
;-ui_createdby = "Asobo Studio" ; e.g. Asobo Studio, Microsoft, FSAddonCompany, etc
;-ui_thumbnailfile = "" ; app relative path to ThumbNail image file
;-ui_certified_ceiling = -1 ; service ceiling / max certified operating altitude (ft)
;-ui_max_range = -1 ; max distance the aircraft can fly between take-off and landing in (NM)
;-ui_autonomy = -1 ; max duration the aircraft can fly between take-off and landing in (Hrs)
;-ui_fuel_burn_rate = -1 ; average fuel consumption per hour (lbs/hr) - reminder: fuel density is ~6.7lbs per US gallon
;-atc_id_enable = 1 ; enable tail number
;-atc_flight_number = "" ; flight number
;-atc_id_color = "" ; color for the tail number : i.e. "#ffff00ff"
;-atc_id_font = "" ; font for the tail number
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes