[VERSION]
major = 1
minor = 0

[GENERAL]
atc_type = "TT:ATCCOM.ATC_NAME EMBRAER.0.text"
atc_model = "TT:ATCCOM.AC_MODEL E170.0.text"
Category = "airplane"
performance = ""
editable = 1
wip_indicator = 2
icao_type_designator = "E170"
icao_manufacturer = "E170"
icao_model = "E170"
icao_engine_type = "Jet"
icao_engine_count = 2
icao_WTC = "M"
icao_generic = 0

[SERVICES]
FUELTRUCK = 0
BAGGAGE_LOADER = 1
CATERING_TRUCK = 0
BOARDING_RAMP = 1
GROUND_POWER_UNIT = 0
PUSHBACK = 1
SMALL_PUSHBACK = 0
MARSHALLER = 0
JETWAY = 1

[EFFECTS]
wake = fx_wake
water = fx_spray
dirt = FX_ASOBO_TOUCHDIRT_BIG
concrete = FX_ASOBO_TOUCHCONCRETE_BIG
touchdown = FX_ASOBO_TouchDown_Big, 1
contrail = FX_ASOBO_CONTRAIL_BIG
effect.0 = FX_EXHAUST_LEFT#(A:GENERAL ENG COMBUSTION:1, boolean)#FX_ASOBO_HEAT_BIG
effect.1 = FX_EXHAUST_RIGHT#(A:GENERAL ENG COMBUSTION:2, boolean)#FX_ASOBO_HEAT_BIG


;===================== FLTSIM =====================


[FLTSIM.0]
title = "FSLTL_E170_ZZZZ" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "" ; airline name
ui_manufacturer = "EMBRAER" ; e.g. Boeing, Cessna
ui_type = "EMBRAER E170" ; e.g. 747-400, 172
ui_variation = "ZZZZ" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "" ; Comma separated and may be as small as one character each
atc_parking_types = "GATE,RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "ZZZZ" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.1]
title = "FSLTL_E170_AHY-Azal-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Azal" ; airline name
ui_manufacturer = "EMBRAER" ; e.g. Boeing, Cessna
ui_type = "EMBRAER E170" ; e.g. 747-400, 172
ui_variation = "Azerbaijan Hava Yollari" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "AHY" ; Comma separated and may be as small as one character each
atc_parking_types = "GATE,RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "AHY" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.2]
title = "FSLTL_E170_ANO-Topend-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Topend" ; airline name
ui_manufacturer = "EMBRAER" ; e.g. Boeing, Cessna
ui_type = "EMBRAER E170" ; e.g. 747-400, 172
ui_variation = "Capiteq" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "ANO" ; Comma separated and may be as small as one character each
atc_parking_types = "GATE,RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "ANO" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.3]
title = "FSLTL_E170_BOT-Botswana-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Botswana" ; airline name
ui_manufacturer = "EMBRAER" ; e.g. Boeing, Cessna
ui_type = "EMBRAER E170" ; e.g. 747-400, 172
ui_variation = "Air Botswana" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "BOT" ; Comma separated and may be as small as one character each
atc_parking_types = "GATE,RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "BOT" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.4]
title = "FSLTL_E170_EMB-Embraer-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Embraer" ; airline name
ui_manufacturer = "EMBRAER" ; e.g. Boeing, Cessna
ui_type = "EMBRAER E170" ; e.g. 747-400, 172
ui_variation = "Empresa Brasileira De Aeronautica" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "EMB" ; Comma separated and may be as small as one character each
atc_parking_types = "GATE,RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "EMB" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.5]
title = "FSLTL_E170_EZE-Eastflight-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Eastflight" ; airline name
ui_manufacturer = "EMBRAER" ; e.g. Boeing, Cessna
ui_type = "EMBRAER E170" ; e.g. 747-400, 172
ui_variation = "Eastern Airways" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "EZE" ; Comma separated and may be as small as one character each
atc_parking_types = "GATE,RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "EZE" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.6]
title = "FSLTL_E170_JLJ-Noble-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Noble" ; airline name
ui_manufacturer = "EMBRAER" ; e.g. Boeing, Cessna
ui_type = "EMBRAER E170" ; e.g. 747-400, 172
ui_variation = "Noble Air Charter" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "JLJ" ; Comma separated and may be as small as one character each
atc_parking_types = "GATE,RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "JLJ" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.7]
title = "FSLTL_E170_MSE-Egyptair-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Egyptair" ; airline name
ui_manufacturer = "EMBRAER" ; e.g. Boeing, Cessna
ui_type = "EMBRAER E170" ; e.g. 747-400, 172
ui_variation = "Egyptair Express" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "MSE" ; Comma separated and may be as small as one character each
atc_parking_types = "GATE,RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "MSE" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.8]
title = "FSLTL_E170_NSE-Satena-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Satena" ; airline name
ui_manufacturer = "EMBRAER" ; e.g. Boeing, Cessna
ui_type = "EMBRAER E170" ; e.g. 747-400, 172
ui_variation = "Satena" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "NSE" ; Comma separated and may be as small as one character each
atc_parking_types = "GATE,RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "NSE" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.9]
title = "FSLTL_E170_SLI-Costera-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Costera" ; airline name
ui_manufacturer = "EMBRAER" ; e.g. Boeing, Cessna
ui_type = "EMBRAER E170" ; e.g. 747-400, 172
ui_variation = "Aerolitoral" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "SLI" ; Comma separated and may be as small as one character each
atc_parking_types = "GATE,RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "SLI" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.10]
title = "FSLTL_E170_SVA-Saudia-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Saudia" ; airline name
ui_manufacturer = "EMBRAER" ; e.g. Boeing, Cessna
ui_type = "EMBRAER E170" ; e.g. 747-400, 172
ui_variation = "Saudi Arabian Airlines" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "SVA" ; Comma separated and may be as small as one character each
atc_parking_types = "GATE,RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "SVA" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.11]
title = "FSLTL_E170_VBW-Burkina-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Burkina" ; airline name
ui_manufacturer = "EMBRAER" ; e.g. Boeing, Cessna
ui_type = "EMBRAER E170" ; e.g. 747-400, 172
ui_variation = "Air Burkina" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "VBW" ; Comma separated and may be as small as one character each
atc_parking_types = "GATE,RAMP"
atc_heavy = 0 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "VBW" ;
panel = "" ; panel folder
sound = "" ; sound folder


