[VERSION]
major = 1
minor = 0

[GENERAL]
atc_type = "TT:ATCCOM.ATC_NAME BOEING.0.text"
atc_model = "TT:ATCCOM.AC_MODEL B789.0.text"
Category = "airplane"
performance = ""
editable = 1
wip_indicator = 2
icao_type_designator = "B789"
icao_manufacturer = "B789"
icao_model = "B787-9"
icao_engine_type = "Jet"
icao_engine_count = 2
icao_WTC = "H"
icao_generic = 0

[SERVICES]
FUELTRUCK = 1
BAGGAGE_LOADER = 1
CATERING_TRUCK = 1
BOARDING_RAMP = 0
GROUND_POWER_UNIT = 0
PUSHBACK = 1
SMALL_PUSHBACK = 0
MARSHALLER = 0
JETWAY = 1

[EFFECTS]
wake = fx_wake
water = fx_spray
dirt = FX_ASOBO_TOUCHDIRT_BIG
concrete = FX_ASOBO_TOUCHCONCRETE_BIG
touchdown = FX_ASOBO_TouchDown_Big, 1
contrail = FX_ASOBO_CONTRAIL_BIG
effect.0 = FX_EXHAUST_LEFT#(A:GENERAL ENG COMBUSTION:1, boolean)#FX_ASOBO_HEAT_BIG
effect.1 = FX_EXHAUST_RIGHT#(A:GENERAL ENG COMBUSTION:2, boolean)#FX_ASOBO_HEAT_BIG

;===================== FLTSIM =====================
[FLTSIM.0]
title = "FSLTL_B789_ZZZZ" ; Variation name
model = "GE" ; model folder
texture = "GE"; texture folder
atc_airline = "" ; airline name
ui_manufacturer = "BOEING" ; e.g. Boeing, Cessna
ui_type = "BOEING B789" ; e.g. 747-400, 172
ui_variation = "ZZZZ" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "" ; Comma separated and may be as small as one character each
atc_parking_types = "GATE,RAMP"
atc_heavy = 1 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "ZZZZ" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.1]
title = "FSLTL_B789_AJX-Air Japan-STUB" ; Variation name
model = "GE" ; model folder
texture = "GE"; texture folder
atc_airline = "Air Japan" ; airline name
ui_manufacturer = "BOEING" ; e.g. Boeing, Cessna
ui_type = "BOEING B789" ; e.g. 747-400, 172
ui_variation = "Air Japan" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "AJX" ; Comma separated and may be as small as one character each
atc_parking_types = "GATE,RAMP"
atc_heavy = 1 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "AJX" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.2]
title = "FSLTL_B789_APZ-Air Premia-STUB" ; Variation name
model = "GE" ; model folder
texture = "GE"; texture folder
atc_airline = "Air Premia" ; airline name
ui_manufacturer = "BOEING" ; e.g. Boeing, Cessna
ui_type = "BOEING B789" ; e.g. 747-400, 172
ui_variation = "Air Premia" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "APZ" ; Comma separated and may be as small as one character each
atc_parking_types = "GATE,RAMP"
atc_heavy = 1 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "APZ" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.3]
title = "FSLTL_B789_AUH-Sultan-STUB" ; Variation name
model = "GE" ; model folder
texture = "GE"; texture folder
atc_airline = "Sultan" ; airline name
ui_manufacturer = "BOEING" ; e.g. Boeing, Cessna
ui_type = "BOEING B789" ; e.g. 747-400, 172
ui_variation = "Presidential Flight" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "AUH" ; Comma separated and may be as small as one character each
atc_parking_types = "GATE,RAMP"
atc_heavy = 1 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "AUH" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.4]
title = "FSLTL_B789_BOE-Boeing-STUB" ; Variation name
model = "GE" ; model folder
texture = "GE"; texture folder
atc_airline = "Boeing" ; airline name
ui_manufacturer = "BOEING" ; e.g. Boeing, Cessna
ui_type = "BOEING B789" ; e.g. 747-400, 172
ui_variation = "Boeing Commercial Airplane Group" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "BOE" ; Comma separated and may be as small as one character each
atc_parking_types = "GATE,RAMP"
atc_heavy = 1 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "BOE" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.5]
title = "FSLTL_B789_CSH-Shanghai Air-STUB" ; Variation name
model = "GE" ; model folder
texture = "GE"; texture folder
atc_airline = "Shanghai Air" ; airline name
ui_manufacturer = "BOEING" ; e.g. Boeing, Cessna
ui_type = "BOEING B789" ; e.g. 747-400, 172
ui_variation = "Shanghai Airlines" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "CSH" ; Comma separated and may be as small as one character each
atc_parking_types = "GATE,RAMP"
atc_heavy = 1 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "CSH" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.6]
title = "FSLTL_B789_TUI-Tui Jet-STUB" ; Variation name
model = "GE" ; model folder
texture = "GE"; texture folder
atc_airline = "Tui Jet" ; airline name
ui_manufacturer = "BOEING" ; e.g. Boeing, Cessna
ui_type = "BOEING B789" ; e.g. 747-400, 172
ui_variation = "Tuifly" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "TUI" ; Comma separated and may be as small as one character each
atc_parking_types = "GATE,RAMP"
atc_heavy = 1 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "TUI" ;
panel = "" ; panel folder
sound = "" ; sound folder


