[VERSION]

major = 1 ;
minor = 0 ;

[GENERAL]
atc_type = "TT:ATCCOM.ATC_NAME AIRBUS.0.text"
atc_model = "A350"
Category = "airplane"
performance = ""
editable = 1
wip_indicator = 2
icao_type_designator = "A359"
icao_manufacturer = "A359"
icao_model = "Airbus 350-900"
icao_engine_type = "Jet"
icao_engine_count = 2
icao_WTC = "H"
icao_generic = 0

[SERVICES]
FUELTRUCK = 1
BAGGAGE_LOADER = 1
CATERING_TRUCK = 1
BOARDING_RAMP = 0
GROUND_POWER_UNIT = 0
PUSHBACK = 1
SMALL_PUSHBACK = 0
MARSHALLER = 0
JETWAY = 1

[EFFECTS]
wake = fx_wake
water = fx_spray
dirt = FX_ASOBO_TOUCHDIRT_BIG
concrete = FX_ASOBO_TOUCHCONCRETE_BIG
touchdown = FX_ASOBO_TouchDown_Big, 1
contrail = FX_ASOBO_CONTRAIL_BIG
effect.0 = FX_EXHAUST_LEFT#(A:GENERAL ENG COMBUSTION:1, boolean)#FX_ASOBO_HEAT_BIG
effect.1 = FX_EXHAUST_RIGHT#(A:GENERAL ENG COMBUSTION:2, boolean)#FX_ASOBO_HEAT_BIG


; ===================== FLTSIM =====================

[FLTSIM.0]
title = "FSLTL_A359_ZZZZ" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "" ; airline name
ui_manufacturer = "AIRBUS" ; e.g. Boeing, Cessna
ui_type = "AIRBUS A359" ; e.g. 747-400, 172
ui_variation = "ZZZZ" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "" ; Comma separated and may be as small as one character each
atc_parking_types = "GATE,RAMP"
atc_heavy = 1 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "ZZZZ" ;
panel = "" ; panel folder
sound = "" ; sound folder

[FLTSIM.1]
title = "FSLTL_A359_AIB_Airbus-Industrie-STUB" ; Variation name
model = "" ; model folder
texture = ""; texture folder
atc_airline = "Airbus Industrie" ; airline name
ui_manufacturer = "AIRBUS" ; e.g. Boeing, Cessna
ui_type = "AIRBUS A359" ; e.g. 747-400, 172
ui_variation = "Airbus Industrie" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner"
atc_parking_codes = "AIB" ; Comma separated and may be as small as one character each
atc_parking_types = "GATE,RAMP"
atc_heavy = 1 ; heavy?
isairtraffic = 1 ; airtraffic flag for variations
isuserselectable = 0 ; flag off for non selectable planes
atc_id_enable = 1 ; enable tail number
effects = ""
icao_airline = "AIB" ;
panel = "" ; panel folder
sound = "" ; sound folder


